@{
    ViewData["Title"] = "TestBPost Title";
}

<div class="card
            border-2
            px-3
            pt-3">
    <h1>Hello Blog Post!</h1>
    <hr class="w-2"></hr>
    <h6>Author: </h6>
    <h7 class="text-muted">Posted: @DateTime.Now</h7>
    <p class="card alert-dark p-3">Hello Text</p>
</div>