<!DOCTYPE html>
<html lang="en">
<head>
    @* Meta data *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* Dynamic Title, displays current view title from ViewData *@
    <title>@ViewData["Title"] - Ian Scott, Software Developer</title>
    @* Stylesheet links *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlogPortfolio.styles.css" asp-append-version="true" />
</head>
<body>
    @* Header container *@
    <header>

        @* Navbar container, extension of template bootstrap layout *@
        <nav class="navbar 
                    navbar-expand-sm 
                    navbar-toggleable-sm 
                    navbar-light 
                    bg-white 
                    border-bottom 
                    box-shadow 
                    mb-3">
        
            @* Container for Title icon *@
            <div class="container-fluid">
                <a class="navbar-brand" 
                    asp-area="" 
                    asp-controller="Home"
                    asp-action="Index">Ian Scott - Software Developer</a>
        
                @* Responsive Navbar toggle button *@
                <button class="navbar-toggler" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target=".navbar-collapse" 
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @* List items for anchor tags *@
                <div class="navbar-collapse 
                            collapse 
                            d-sm-inline-flex 
                            justify-content-between">
                    <ul class="navbar-nav 
                                flex-grow-1">
                        <li class="nav-item">
                            @* Anchor tag, asp information to link controllers to the anchor tags, 
                            as well as the actions to handle the requests *@
                            <a class="nav-link 
                                        text-dark" 
                                asp-area="" 
                                asp-controller="Home" 
                                asp-action="Index">Home</a>
                        </li>
                        <li>
                            @* Blog Anchor tag, note the controller and action changes to identify
                            the individual requests the anchor controls *@
                            <a class="nav-link
                                    text-dark"
                                asp-area=""
                                asp-controller="Blog"
                                asp-action="Index">Blog</a>
                        </li>
                        <li>
                            @* Blog Anchor tag, note the controller and action changes to identify
                            the individual requests the anchor controls *@
                            <a class="nav-link
                                    text-dark"
                                asp-area=""
                                asp-controller="Portfolio"
                                asp-action="Index">My Work</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @* Main section container *@
    <div class="container">
        <main role="main" 
            class="pb-3">
            @* RenderBody handles the returned views via the active controller *@
            @RenderBody()
        </main>
    </div>

    @* Footer Container *@
    <footer class="border-top 
                    footer 
                    text-muted">
        <div class="container">
            @* Copyright and privacy details *@
            &copy; 2024 - Ian Scott, Software Developer - <a asp-area="" 
                                                            asp-controller="Home" 
                                                            asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    @* Library Script imports *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* Custom Scripts *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
